<div class="row">
  <div class="col-sm-1">
    <%= image_tag(@authority.avatar, width: 80, height: 80, alt: @authority.name) %>
  </div>
  <div class="col-sm-7" style="margin-left: 10px;">
    <h1><%= @authority.name || @authority.username %></h1>
  </div>
</div>

<div class="row">

  <% @authority.repos.each do |r| %>
    <div class="repo">
      <%= render partial: "repo", locals: { repo: r } %>
    </div>
  <% end %>

</div>
