<div class="row">
  <div class="pull-left">
    <%= image_tag @authority.avatar, width: 80, height: 80, alt: @authority.name, class: "img-thumbnail authority-logo" %>
  </div>
  <h1 id="authority-name"><%= @authority.name || @authority.username %></h1>
</div>

<div class="row">

  <table class="table repos">

    <tr>
      <th scope="col">Project</th>
      <th scope="col">Description</th>
      <th scope="col">Commits</th>
      <th scope="col">Stars</th>
      <th scope="col">Forks</th>
      <th scope="col">Issues</th>
    </tr>

    <% @authority.repos.each do |r| %>
      <%= render partial: "repo", locals: { repo: r } %>
    <% end %>

  </table>

</div>
