<div class="row">
  <div class="pull-left">
    <%= image_tag @authority.avatar, width: 80, height: 80, alt: @authority.name, class: "img-thumbnail authority-logo" %>
  </div>
  <h1 id="authority-name"><%= @authority.name || @authority.username %></h1>
</div>

<div class="row">

  <% @authority.repos.each do |r| %>
    <%= render partial: "repo", locals: { repo: r } %>
  <% end %>

</div>
